@page "/tasks"
@using synctakerWeb.Models
@using synctakerWeb.Classes
@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject TaskService TaskService

<div class="container-fluid">
    <div class="d-flex justify-content-end my-3">
        <button class="btn btn-primary" @onclick="() => AddEditTask(0)">Add Task</button> <!-- 1 is a placeholder taskId -->
    </div>

    <div>
        <ul class="list-group">
            @foreach (var task in tasks)
            {
                <li class="list-group-item" @onclick="() => AddEditTask(task.Id)" style="cursor: pointer;">
                    <div>
                        <h5 class="mb-1">
                            <strong>@MarkupStatic.GetPriorityMarkup(task.Priority)</strong> - ID: @task.Id - @task.TaskName
                        </h5>
                        <p class="mb-0 text-muted">
                            Project: @task.Project.ProjectName | Assigned To: @(task.AssignedTo?.FirstName ?? "No assigned") | Priority: @task.Priority | Status: @task.Status.Name
                        </p>
                        <small class="text-muted">Planned Date: @task.RealizationPlanned?.ToString("yyyy-MM-dd")</small>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>

@code {
    private List<TaskModel> tasks = new List<TaskModel>();

    // private MarkupString GetPriorityMarkup(string priority)
    // {
    //     string label = "[?]";
    //     string color = "gray";

    //     if (!string.IsNullOrWhiteSpace(priority) && priority.Contains("["))
    //     {
    //         var startIndex = priority.IndexOf("[");
    //         var endIndex = priority.IndexOf("]");
    //         if (startIndex >= 0 && endIndex > startIndex)
    //         {
    //             label = priority.Substring(startIndex, endIndex - startIndex + 1);

    //             if (label == "[L]") color = "gray";
    //             else if (label == "[N]") color = "green";
    //             else if (label == "[H]") color = "red";
    //         }
    //     }

    //     return new MarkupString($"<span style='color: {color};'>{label}</span>");
    // }

    protected override async Task OnInitializedAsync()
    {
        tasks = await TaskService.GetTasksAsync();
    }

    private void AddEditTask(int taskId)
    {
        Navigation.NavigateTo($"/tasks/addedit/{taskId}");
    }
}
